.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(13px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  height: 165px;
  width: 165px;
  margin-top: 5px ;
}

.carrito-img {
  height: 75px;
  width: 75px;
  margin-left: 185px;
}

.container-fluid {
  height: 70px;
}

.liNavbar {
  margin-top: 50px;
  margin-left: 40px;
  
}


.navbar {
  display: block;
  position: absolute;
}





.itemsCarrito {
  font-size: 12px;
}


.ItemClase {
  padding: 30px 30px 30px 30px;
  border: 1px solid black;
  width: 500px;
  height: 550px;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.ItemListContainer {
  margin-top: 70px;
  font-family: Arial;
  padding-bottom: 300px;
  position: absolute;
}

.tituloHome {
  color: black;
  font-family: Helvetic;
  font-size: 55px;
  margin-top: 50px;
  
}

.ItemListClase {
 margin-left: 100px;
 margin-top: 80px;
 display: inline-block;
 
}

.ItemDetailClase {
  margin-top: 100px;

}

.itemDetalle {
  display: block;
  width: 1000px;
  margin: auto;
  margin-top:150px;
  text-align: left;
  border: solid 1px black;
  padding: 65px 15px 15px 15px;
  font-size: 25px;
  padding-bottom:25px;
  margin-bottom:100px;
}

.ItemCount-div {
  border: 1px solid black;
  width: 530px;
  text-align: center;
  padding: 25px;
  margin-top: 35px;
  float: right;
}

.boton-sumar-restar {
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px;
}

.boton-cantidad-items {
  margin: 10px 10px 10px 10px;
  font-size: 25px;
  border: 1px solid black;
  padding: 10px;
}

.boton-agregar {
  margin: 30px 10px 10px;
    
  
}

.stock {
  margin-top: 25px;
  font-size: 25px;
  font-style: italic;
}





.carrito {
  margin-top: 200px;
  font-size: 45px;
}

.botonFinalizar {
  margin: auto;
}

